torch
torchvision
transformers
addict
yapf
timm
numpy
opencv-python
supervision>=0.22.0
pycocotools
cython
timm
einops
langchain
wheel
flash-attn
accelerate>=0.26.0
defisheye
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
attrs==24.2.0
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
frozenlist==1.4.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
multidict==6.1.0
propcache==0.2.0
redis==5.1.1
rq==1.16.2
Werkzeug==3.0.4
yarl==1.15.2
